<div class="contentObjects-inner" role="complementary">
	<div class="contentObjects-item-container">
	{{#each resources}}
	{{#if _isAvailable}}
	<div class="contentObjects-item drawer-item {{#if_is_actual_page}}selected{{/if_is_actual_page}}">
		<button class="base contentObjects-item-open drawer-item-open" data-href="{{_id}}" tabindex="0" role="button">
			<div class="drawer-item-title {{get_page_level}}">
				<div class="drawer-item-title-inner h6">{{{title}}}</div>
			</div>
			<div class="drawer-item-description {{get_page_level}}">
				<div class="drawer-item-description-inner">{{{description}}}</div>
			</div>
		</button>
	</div>
	{{/if}}
	{{/each}}
	</div>
	<div class="aria-label a11y-ignore-focus prevent-default" tabindex="0"/>
</div>
